@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;500;600;700&family=Special+Gothic+Expanded+One&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    color: var(--black);
   
}

body{
    background-image: url(./assets/earth-depicted-anime-style.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.main{
    min-height: 100vh;
}

.login-page .container{
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 15px;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 600;
}

.login-heading{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.start-game{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-game .description .title{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    color: #ffc107;
    text-shadow: 2px 2px 5px black;

}

.start-game .description{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 5rem;
}

.start-game .game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 2rem ;
    padding: 2rem;
}
.options{
    display: none;
}

.dot {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: 2rem;
    margin: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.dot h3{
    font-size: 1.2rem;
    text-align: center;
    color: white;
    font-weight: 400;
}

.options #guessCountry{
    background-color: #ffc107;
    transition: .2s all ease-in;
}

.options #guessCountry:hover{
    background-color: #17a2b8;
}

.options #guessCapital{
    background-color: #dc3545;
    transition: .2s all ease-in;
}

.options #guessCapital:hover{
    background-color: #17a2b8;
}

.options #guessFlag{
    background-color: #28a745;
    transition: .2s all ease-in;
}

.options #guessFlag:hover{
    background-color: #17a2b8;
}

